$clr-dark: rgb(17, 17, 17);
$clr-tint: rgb(170, 170, 170);
$clr-light: rgb(241, 241, 241);
$clr-hover: rgb(33, 37, 158);
$clr-contrast: rgb(69, 111, 132);


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Raleway:wght@300;400;500;600&display=swap');
$fnt-contrast: 'Raleway';
$fnt-main: 'Comfortaa';

